@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@600&family=Manrope:wght@400;600;700&family=Noto+Serif:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@1,400;1,500;1,600&display=swap");
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
button {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  vertical-align: middle;
}

svg {
  vertical-align: middle;
}

body {
  /* font-family: 'Cormorant Unicase', serif; */
  font-family: "Manrope", sans-serif;
  /* font-family: 'Noto Serif', serif; */
  color: #001333;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1125px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.content-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-bottom: 40px;
  padding-top: 40px;
}
.content-box.step4 {
  height: auto;
  display: block;
  padding-top: 25px;
}

.header {
  margin-bottom: 15px;
}
.header__inner, .header__right, .header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__wrapper.pad-r {
  padding-right: 15px;
}
.header__wrapper.pad-l {
  padding-left: 30px;
}
.header__info-title {
  color: #001333;
  text-align: center;
  font-family: "Cormorant Unicase", serif;
  font-size: 36px;
  font-weight: 600;
}
.header__info-text {
  color: #5a7794;
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 24px;
}
.header__title {
  color: #001333;
  font-family: "Cormorant Unicase", serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 143.99%;
}
.header__right {
  gap: 10px;
}
.header__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 5px;
}
.header__phone-link {
  display: inline-block;
  color: #001333;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: underline;
}
.header__cart.step4 {
  display: none;
}
.header__cart-btn {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

/* First-step --------------------- */
.frist-step__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 30px;
}
.frist-step__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 47px;
}
.frist-step__descr {
  padding: 7px 0;
}
.frist-step__buttons {
  max-width: 596px;
  width: 100%;
  height: 424px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #cfd8e0;
  background: #fff;
}
.frist-step__buttons-text {
  color: #5a7794;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 5px;
}
.frist-step__buttons-btn {
  cursor: pointer;
  width: 296px;
  height: 56px;
  border: 1px solid #001333;
  background: #fff;
  margin-bottom: 15px;
  color: #001333;
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 2.7px;
  text-transform: uppercase;
}
.frist-step__buttons-btn.constructor-btn {
  background: #001333;
  color: #fff;
}

/* Constructor --------------------- */
.constructor {
  margin-bottom: 17px;
}
.constructor__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.constructor__steps {
  margin-right: 24px;
  max-width: 70px;
  width: 100%;
}
.constructor__image {
  position: relative;
  overflow: hidden;
  max-width: 695px;
  border: 1px solid #cfd8e0;
  width: 100%;
  height: 390px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 695px;
  flex: 0 0 695px;
  margin-right: 4px;
}
.constructor__image-img {
  vertical-align: middle;
}
.constructor__image-top-btns {
  position: absolute;
  width: 126px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  top: 10px;
  margin: 0 auto;
  left: 0;
  right: 0;
  display: none;
}
.constructor__image-pos {
  background: none;
  border: none;
  width: 26px;
  height: 26px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
}
.constructor__image-btn {
  display: none;
  position: absolute;
  left: 0;
  bottom: 0;
  cursor: pointer;
  width: 296px;
  height: 56px;
  border: 1px solid #cfd8e0;
  background: rgba(255, 255, 255, 0.7);
  color: #001333;
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 2.7px;
  text-transform: uppercase;
}
.constructor__image-menu {
  position: absolute;
  left: 0;
  bottom: -100%;
  opacity: 0;
  z-index: 100;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.constructor__image-menu.visible {
  bottom: 60px;
  opacity: 1;
}
.constructor__image-item {
  display: block;
  cursor: pointer;
  width: 296px;
  height: 56px;
  border: 1px solid #cfd8e0;
  background: #fff;
  color: #001333;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.constructor__image-item.active {
  border: 1px solid #001333;
  background: #001333;
  color: #fff;
}
.constructor__image-item + .constructor__image-item {
  margin-top: 4px;
}
.constructor__menu, .constructor__detailmenu-items {
  max-width: 310px;
  width: 100%;
  height: 390px;
  overflow-y: scroll;
}
.constructor__menu::-webkit-scrollbar, .constructor__detailmenu-items::-webkit-scrollbar {
  width: 12px;
}
.constructor__menu::-webkit-scrollbar-track, .constructor__detailmenu-items::-webkit-scrollbar-track {
  background-color: #fff;
}
.constructor__menu::-webkit-scrollbar-thumb, .constructor__detailmenu-items::-webkit-scrollbar-thumb {
  background-color: #cfd8e0;
  border-left: 4px solid #fff;
  border-top-right-radius: 5px;
  border-top-left-radius: 7.5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 7.5px;
}
.constructor__menu-btn, .constructor__detailmenu-items-btn {
  width: 100%;
  height: 56px;
  border: 1px solid #cfd8e0;
  background: #fff;
  cursor: pointer;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.constructor__menu-btn + .constructor__menu-btn, .constructor__menu-btn + .constructor__detailmenu-items-btn, .constructor__detailmenu-items-btn + .constructor__menu-btn, .constructor__detailmenu-items-btn + .constructor__detailmenu-items-btn {
  margin-top: 4px;
}
.constructor__detailmenu {
  max-width: 310px;
  width: 100%;
}
.constructor__detailmenu-back {
  max-width: 310px;
  width: 100%;
  height: 56px;
  border: none;
  background-color: #001333;
  color: #fff;
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  margin-bottom: 4px;
  cursor: pointer;
}
.constructor__detailmenu-img {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}
.constructor__detailmenu-items {
  height: 330px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.constructor__detailmenu-item {
  width: 100%;
  border: 1px solid #cfd8e0;
  background: #fff;
}
.constructor__detailmenu-item.active {
  border: 1px solid #001333;
}
.constructor__detailmenu-line {
  width: 100%;
  height: 1px;
  background-color: #eff1f3;
}
.constructor__detailmenu-box {
  padding: 15px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 5px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.constructor__detailmenu-name, .constructor__detailmenu-more {
  color: #001333;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.constructor__detailmenu-more {
  color: #5a7794;
  font-size: 16px;
  font-weight: 400;
  text-decoration: underline;
}

.constructor__image-left.active .left-path {
  fill: #001333;
  stroke: #001333;
}

.constructor__image-left.active .around-path,
.constructor__image-left.active .right-path {
  stroke: #001333;
}

.constructor__image-center.active .left-path,
.constructor__image-center.active .right-path {
  fill: #001333;
  stroke: #001333;
}

.constructor__image-center.active .around-path {
  stroke: #001333;
}

.constructor__image-right.active .right-path {
  fill: #001333;
  stroke: #001333;
}

.constructor__image-right.active .left-path,
.constructor__image-right.active .around-path {
  stroke: #001333;
}

/* Details --------------------- */
.details {
  height: 330px;
  max-width: 310px;
  width: 100%;
  border: 1px solid #cfd8e0;
  background: #fff;
  padding: 5px 10px;
  overflow-y: auto;
}
.details::-webkit-scrollbar {
  width: 12px;
}
.details::-webkit-scrollbar-track {
  background-color: #fff;
}
.details::-webkit-scrollbar-thumb {
  background-color: #cfd8e0;
  border-left: 4px solid #fff;
  border-top-right-radius: 5px;
  border-top-left-radius: 7.5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 7.5px;
}
.details__items {
  margin-bottom: 14px;
}
.details__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 6px;
}
.details__item-text {
  color: #001333;
  font-family: "Manrope", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.details__bluetext {
  color: #0085ff;
  font-family: "Manrope", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  margin-bottom: 5px;
}
.details__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 5px;
}
.details__buttons-btn {
  max-width: 85px;
  width: 100%;
  height: 27px;
  background-color: #eeeef2;
  border: none;
  color: #001333;
  font-family: "Manrope", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  cursor: pointer;
}
.details__buttons-btn.active {
  background-color: #001333;
  color: #fff;
}

/* Order --------------------- */
.order__wrapper {
  padding-left: 95px;
  padding-right: 12px;
}
.order__text {
  font-family: "Manrope", sans-serif;
  color: #5a7794;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 4px;
  display: inline-block;
}
.order__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 15px;
}
.order__buttons-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4px;
}
.order__btn {
  width: 296px;
  height: 56px;
  background: #fff;
  color: #cfd8e0;
  border: 1px solid #cfd8e0;
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  cursor: pointer;
}
.order__btn.continie-btn {
  background: #cfd8e0;
  color: #fff;
}
.order__btn.continie-btn.active {
  background: #001333;
  color: #fff;
}
.order__btn.active {
  border: 1px solid #001333;
  color: #001333;
}
.order__btn.total-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 20px;
  color: #001333;
  border: 1px solid #001333;
}
.order__btn.total-btn-span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 12px;
}

/* step 3 --------------------- */
.step3 {
  margin-bottom: 4px;
}
.step3__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.step3__col1 {
  margin-right: 4px;
  width: 100%;
}
.step3__col1.special-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.step3__col1-text {
  color: #5a7794;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 10px;
}
.step3__col1-image {
  margin-bottom: 4px;
  border: 1px solid #cfd8e0;
}
.step3__col1-image.symbol {
  height: 360px;
  background: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px;
  border: none;
}
.step3__col1-btn {
  width: 100%;
  height: 56px;
  cursor: pointer;
  border: 1px solid #001333;
  background: #fff;
  margin-bottom: 4px;
  color: #001333;
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 2.7px;
  text-transform: uppercase;
}
.step3__col1.epitaph {
  max-width: 296px;
  height: 364px;
  border: 1px solid #cfd8e0;
}
.step3__col1.epitaph .step3__col1-text {
  padding: 15px;
  color: #001333;
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  margin: 0;
}
.step3__col1.epitaph .step3__col1-line {
  height: 1px;
  max-width: 255px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  background: #cfd8e0;
  margin-bottom: 15px;
}
.step3__col1.epitaph .step3__col1-textarea {
  resize: none;
  width: 100%;
  padding: 0 15px 0 15px;
  height: 292px;
  border: none;
  outline: none;
  color: #001333;
  text-align: center;
  font-size: 20px;
  font-style: italic;
  font-weight: 500;
  line-height: 143.99%;
  font-family: "Cormorant Unicase", serif;
  margin-bottom: 4px;
}
.step3__col1.epitaph .step3__col1-send {
  max-width: 296px;
  width: 100%;
  height: 56px;
  border: 1px solid #001333;
  background: #fff;
  color: #001333;
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  cursor: pointer;
}
.step3__col1-uploader {
  margin-top: auto;
  margin-bottom: 25px;
}
.step3__col1-uploader input {
  display: none;
}
.step3__col1-uploader label {
  color: #5a7794;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.16px;
  text-decoration-line: underline;
  cursor: pointer;
}
.step3__col2 {
  max-width: 396px;
  width: 100%;
  height: 460px;
  border: 1px solid #cfd8e0;
  background: #fff;
  margin-right: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 15px;
}
.step3__col3 {
  max-width: 310px;
  width: 100%;
  height: 460px;
  overflow-y: scroll;
}
.step3__col3-second, .step3__col3-third {
  display: none;
}
.step3__col3::-webkit-scrollbar {
  width: 12px;
}
.step3__col3::-webkit-scrollbar-track {
  background-color: #fff;
}
.step3__col3::-webkit-scrollbar-thumb {
  background-color: #cfd8e0;
  border-left: 4px solid #fff;
  border-top-right-radius: 5px;
  border-top-left-radius: 7.5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 7.5px;
}
.step3__col3-title {
  max-width: 296px;
  width: 100%;
  height: 56px;
  border: 1px solid #cfd8e0;
  background: #fff;
  color: #001333;
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  margin-bottom: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.step3__col3-input {
  max-width: 296px;
  width: 100%;
  height: 56px;
  margin-bottom: 4px;
  border: 1px solid #cfd8e0;
  background: #fff;
  padding: 0 20px;
  color: #001333;
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.step3__col3-input::-webkit-input-placeholder {
  color: #5a7794;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
}
.step3__col3-input::-moz-placeholder {
  color: #5a7794;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
}
.step3__col3-input:-ms-input-placeholder {
  color: #5a7794;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
}
.step3__col3-input::-ms-input-placeholder {
  color: #5a7794;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
}
.step3__col3-input::placeholder {
  color: #5a7794;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
}
.step3__col3-btn, .step3__col3-send {
  max-width: 296px;
  height: 56px;
  width: 100%;
  border: 1px solid #cfd8e0;
  background: #fff;
  color: #001333;
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 4px;
  cursor: pointer;
}
.step3__col3-send {
  background-color: #001333;
  color: #fff;
}
.step3__col3-btn:last-child {
  margin-bottom: 0;
}
.step3__col3select {
  max-width: 310px;
  width: 100%;
}
.step3__col3select-btn {
  max-width: 310px;
  width: 100%;
  height: 56px;
  border: none;
  background-color: #001333;
  color: #fff;
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  margin-bottom: 4px;
  cursor: pointer;
}
.step3__col3select-images {
  max-width: 310px;
  width: 100%;
  height: 390px;
  overflow-y: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 5px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.step3__col3select-images::-webkit-scrollbar {
  width: 12px;
}
.step3__col3select-images::-webkit-scrollbar-track {
  background-color: #fff;
}
.step3__col3select-images::-webkit-scrollbar-thumb {
  background-color: #cfd8e0;
  border-left: 4px solid #fff;
  border-top-right-radius: 5px;
  border-top-left-radius: 7.5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 7.5px;
}
.step3__col3select-wideitem {
  width: 100%;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 1px solid #cfd8e0;
  font-family: "Manrope", sans-serif;
  color: #001333;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 2.7px;
  text-transform: uppercase;
}
.step3__col3select-item {
  max-width: 146px;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  border: 1px solid #cfd8e0;
}
.step3__col3select-box {
  background-color: #000;
  padding: 10px;
  cursor: pointer;
}
.step3__col3select-name {
  color: #001333;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 7px 15px;
}
.step3__col3.message .step3__col3-btn {
  max-width: 310px;
  width: 100%;
  height: 56px;
  border: none;
  background-color: #001333;
  color: #fff;
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  margin-bottom: 4px;
  cursor: pointer;
}
.step3__col3.message .step3__col3-messages {
  height: 400px;
  overflow-y: auto;
}
.step3__col3.message .step3__col3-messages::-webkit-scrollbar {
  width: 12px;
}
.step3__col3.message .step3__col3-messages::-webkit-scrollbar-track {
  background-color: #fff;
}
.step3__col3.message .step3__col3-messages::-webkit-scrollbar-thumb {
  background-color: #cfd8e0;
  border-left: 4px solid #fff;
  border-top-right-radius: 5px;
  border-top-left-radius: 7.5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 7.5px;
}
.step3__col3.message .step3__col3-item {
  background: #f7f8fa;
  width: 100%;
  cursor: pointer;
  padding: 16px 24px 24px 24px;
  text-align: center;
  border: 1px solid #cfd8e0;
  -webkit-transition: all 0.15s linear;
  transition: all 0.15s linear;
  border-bottom: none;
}
.step3__col3.message .step3__col3-item:last-child {
  border-bottom: 1px solid #cfd8e0;
}
.step3__col3.message .step3__col3-item.active {
  background-color: #fff;
}
.step3__col3.message .step3__col3-number, .step3__col3.message .step3__col3-text {
  color: #001333;
  text-align: center;
  font-family: "EB Garamond", serif;
  font-size: 18px;
  font-style: italic;
  font-weight: 500;
  line-height: 143.99%;
}

/* step 4 --------------------- */
.step4order__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.step4order__box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px 5px;
  margin-bottom: 10px;
}
.step4order__fullimage {
  width: 483px;
  border: 1px solid #cfd8e0;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
.step4order__stella {
  border: 1px solid #cfd8e0;
  max-width: 300px;
  width: 100%;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.step4order__stella img {
  max-width: 120px;
}
.step4order__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 788px;
  width: 100%;
  padding: 4px 10px;
}
.step4order__price-text {
  color: #0085ff;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.step4order__accordion {
  max-width: 788px;
  width: 100%;
  border: 1px solid #cfd8e0;
  overflow: hidden;
  margin-bottom: 25px;
}
.step4order__accordion-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  padding: 4px 10px;
}
.step4order__accordion-title {
  color: #001333;
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.step4order__accordion-arrow {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
.step4order__accordion-arrow.visible {
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
}
.step4order__info {
  padding: 0 10px;
  height: 0;
  opacity: 0;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.step4order__info-checkbox.top {
  margin-bottom: 10px;
}
.step4order__info-checkbox label {
  color: #001333;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.step4order__info-checkbox label input {
  display: none;
}
.step4order__info-checkbox label span {
  height: 20px;
  width: 20px;
  border: 1px solid #cfd8e0;
  display: inline-block;
  position: relative;
  background-color: #001333;
  padding: 3px;
}
.step4order__info-checkbox label input[checked] + span:before {
  content: "✔";
  position: absolute;
  top: -2px;
  left: 3;
  font-size: 16px;
  color: #fff;
}
.step4order__info.visible {
  height: auto;
  opacity: 1;
}
.step4order__info.visible .step4order__info-checkbox.top {
  padding-top: 10px;
}
.step4order__info-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 20px;
  border-bottom: 1px solid #cfd8e0;
  padding: 10px 0;
}
.step4order__info-item:last-child {
  border-bottom: none;
}
.step4order__info-item:nth-child(2) {
  border-top: 1px solid #cfd8e0;
}
.step4order__info-img {
  max-width: 180px;
  width: 100%;
}
.step4order__info-descr {
  max-width: 320px;
  width: 100%;
}
.step4order__info-title, .step4order__info-text, .step4order__info-bluetext, .step4order__info-price {
  color: #001333;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  margin-bottom: 4px;
}
.step4order__info-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 5px;
}
.step4order__info-text {
  font-size: 12px;
  font-weight: 400;
}
.step4order__info-text.right {
  text-align: right;
}
.step4order__info-bluetext {
  font-size: 12px;
  color: #0085ff;
  font-weight: 700;
}
.step4order__info-price {
  max-width: 180px;
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
}
.step4order__checkbox {
  margin-bottom: 20px;
}
.step4order__checkbox label {
  color: #001333;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.step4order__checkbox label input {
  display: none;
}
.step4order__checkbox label span {
  height: 20px;
  width: 20px;
  border: 1px solid #cfd8e0;
  display: inline-block;
  position: relative;
  background-color: #fff;
  padding: 3px;
}
.step4order__checkbox label input:checked + span:before {
  content: "✔";
  position: absolute;
  top: -2px;
  left: 3;
  font-size: 16px;
  color: #001333;
}
.step4order__text {
  color: #5a7794;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 4px;
}
.step4order__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 788px;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 10px;
}
.step4order__buttons-btn {
  height: 56px;
  background-color: #001333;
  border: none;
  padding: 0 50px;
  color: #fff;
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  cursor: pointer;
}

/* Order details --------------------- */
.steps__wrapper {
  margin-right: 4px;
}
.steps__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 816px;
  width: 100%;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}
.steps__box-num {
  position: relative;
  border: 1px solid #cfd8e0;
  background-color: #fff;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 40px;
  flex: 0 0 40px;
  padding-left: 3px;
  color: #001333;
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 3.6px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.steps__box-num.active {
  background-color: #001333;
  color: #fff;
  border-color: #fff;
}
.steps__box-num.active span {
  color: #001333;
}
.steps__box-num span {
  position: absolute;
  bottom: -17px;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 0px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: #5a7794;
}
.steps__box-num span.first {
  left: 0;
}
.steps__box-num span.last {
  right: 0;
}
.steps__box-line {
  height: 1px;
  background-color: #cfd8e0;
  width: 100%;
}
.steps__images {
  max-width: 285px;
  width: 100%;
}
.steps__images-img {
  border: 1px solid #cfd8e0;
  margin-bottom: 4px;
}
.steps__images-img.stella {
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 15px;
}
.steps__images-img.stella img {
  width: auto;
  height: 100%;
}

.fixed-container .header {
  position: fixed;
  background-color: #fff;
  top: 0;
  padding-top: 25px;
  padding-bottom: 15px;
  width: 100%;
  z-index: 1000;
}
.fixed-container .steps {
  position: sticky;
  top: 91px;
  z-index: 1000;
  background-color: #fff;
  padding-bottom: 25px;
}
.fixed-container .steps .container {
  position: relative;
  padding-right: 294px;
}
.fixed-container .steps__images {
  position: absolute;
  right: 10px;
  top: 0;
  background-color: #fff;
}

.order-details {
  padding-top: 95px;
}
.order-details__item {
  padding-right: 289px;
  margin-bottom: 24px;
}
.order-details__item-title {
  color: #001333;
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 24px;
}
.order-details__item-bluetext {
  color: #0085ff;
  font-family: "Manrope", sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 24px;
}
.order-details__item-bluetext.special {
  font-size: 16px;
}
.order-details__item-bluetext span {
  font-weight: 700;
  text-decoration: underline;
  margin-bottom: 4px;
}
.order-details__item-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  margin-bottom: 24px;
}
.order-details__item-col {
  width: 50%;
}
.order-details__item-col#payment-text {
  display: none;
}
.order-details__item-col#payment-text.active {
  display: block;
}
.order-details__item-label {
  color: #001333;
  font-family: "Manrope", sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
  margin-bottom: 5px;
  z-index: -1;
}
.order-details__item-label svg {
  position: absolute;
}
.order-details__item-input {
  width: 100%;
  padding: 0 20px;
  height: 50px;
  color: #001333;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: 1px solid #cfd8e0;
  margin-bottom: 5px;
}
.order-details__item-input::-webkit-input-placeholder {
  color: #5a7794;
}
.order-details__item-input::-moz-placeholder {
  color: #5a7794;
}
.order-details__item-input:-ms-input-placeholder {
  color: #5a7794;
}
.order-details__item-input::-ms-input-placeholder {
  color: #5a7794;
}
.order-details__item-input::placeholder {
  color: #5a7794;
}
.order-details__item-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4px;
  margin-top: 19px;
}
.order-details__item-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 24px;
  margin-bottom: 20px;
}
.order-details__item-tabs-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 24px;
  display: none;
}
.order-details__item-tabs-box.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.order-details__item-tabs-info {
  color: #001333;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 5px;
}
.order-details__item-tabs-info span {
  font-weight: 700;
  margin-right: 15px;
}
.order-details__item-tabs-info.phone {
  margin-top: 5px;
}
.order-details__item-tab {
  width: 50%;
  border: 1px solid #cfd8e0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 70px;
  cursor: pointer;
}
.order-details__item-tab.active {
  border-color: #001333;
}
.order-details__item-tab-title, .order-details__item-tab-text {
  color: #001333;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.order-details__item-tab-text {
  font-size: 10px;
  font-weight: 400;
}
.order-details__item-textarea {
  width: 100%;
  padding: 12px 20px;
  height: 124px;
  color: #001333;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: 1px solid #cfd8e0;
  margin-bottom: 5px;
  resize: none;
}
.order-details__item-textarea::-webkit-input-placeholder {
  color: #5a7794;
}
.order-details__item-textarea::-moz-placeholder {
  color: #5a7794;
}
.order-details__item-textarea:-ms-input-placeholder {
  color: #5a7794;
}
.order-details__item-textarea::-ms-input-placeholder {
  color: #5a7794;
}
.order-details__item-textarea::placeholder {
  color: #5a7794;
}
.order-details__item-radio label {
  color: #001333;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.order-details__item-radio label input {
  display: none;
}
.order-details__item-radio label span {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px solid #cfd8e0;
  display: inline-block;
  background-color: #fff;
  padding: 3px;
}
.order-details__item-radio label input:checked + span {
  border: 5px solid #001333;
}
.order-details__item-radio + .order-details__item-radio {
  margin-top: 21px;
}
.order-details__item-text {
  color: #5a7794;
  font-family: "Manrope", sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 24px;
}
.order-details__item-topay {
  display: none;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 20px;
  padding: 4px 10px;
  margin-top: 24px;
  border-top: 1px solid #cfd8e0;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.order-details__item-topay.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.order-details__item-price {
  color: #0085ff;
  font-family: "Manrope", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.order-details__item-conditions {
  display: none;
}
.order-details__item-conditions.active {
  display: block;
}
.order-details__item-radios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  margin-bottom: 24px;
}
.order-details__item-radios .order-details__item-radio {
  margin-top: 0;
}
.order-details__item-line {
  height: 1px;
  width: 100%;
  background-color: #cfd8e0;
  margin: 24px 0;
}
.order-details__item.hidden {
  pointer-events: none;
}
.order-details__item.hidden .order-details__item-title,
.order-details__item.hidden .order-details__item-tab-title,
.order-details__item.hidden .order-details__item-tab-text,
.order-details__item.hidden .order-details__item-tabs-info,
.order-details__item.hidden .order-details__item-radio label {
  color: #cfd8e0;
}
.order-details__item.hidden .order-details__item-tab {
  border-color: #cfd8e0;
}
.order-details__item-payments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 20px;
  display: none;
}
.order-details__item-payments.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.order-details__item-payment {
  text-align: center;
}
.order-details__item-payment-text, .order-details__item-payment-num {
  color: #001333;
  font-family: "Manrope", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.order-details__item-payment-num {
  font-size: 16px;
  font-weight: 700;
}
.order-details__subtext {
  color: #5a7794;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 4px;
}
.order-details__btn {
  height: 56px;
  max-width: 296px;
  width: 100%;
  background-color: #001333;
  color: #fff;
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}
.order-details__btn.disabled {
  opacity: 0.3;
  pointer-events: none;
}

@media (max-width: 1200px) {
  .content-box {
    padding-bottom: 10px;
  }
}
html {
  font-size: 1px;
}

.container {
  max-width: 1125rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 10rem;
}

.content-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-bottom: 40rem;
  padding-top: 40rem;
}
.content-box.step4 {
  height: auto;
  display: block;
  padding-top: 25rem;
}

.header {
  margin-bottom: 15rem;
}
.header__inner, .header__right, .header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__wrapper.pad-r {
  padding-right: 15rem;
}
.header__wrapper.pad-l {
  padding-left: 30rem;
}
.header__info-title {
  color: #001333;
  text-align: center;
  font-family: "Cormorant Unicase", serif;
  font-size: 36rem;
  font-weight: 600;
}
.header__info-text {
  color: #5a7794;
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-size: 14rem;
  font-weight: 400;
}
.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 24rem;
}
.header__title {
  color: #001333;
  font-family: "Cormorant Unicase", serif;
  font-size: 36rem;
  font-style: normal;
  font-weight: 600;
  line-height: 143.99%;
}
.header__right {
  gap: 10rem;
}
.header__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 5rem;
}
.header__phone-link {
  display: inline-block;
  color: #001333;
  font-family: "Manrope", sans-serif;
  font-size: 14rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: underline;
}
.header__cart.step4 {
  display: none;
}
.header__cart-btn {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.frist-step__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 30rem;
}
.frist-step__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 47rem;
}
.frist-step__descr {
  padding: 7rem 0;
}
.frist-step__buttons {
  max-width: 596rem;
  width: 100%;
  height: 424rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1rem solid #cfd8e0;
  background: #fff;
}
.frist-step__buttons-text {
  color: #5a7794;
  font-family: "Manrope", sans-serif;
  font-size: 14rem;
  font-weight: 400;
  margin-bottom: 5rem;
}
.frist-step__buttons-btn {
  cursor: pointer;
  width: 296rem;
  height: 56rem;
  border: 1rem solid #001333;
  background: #fff;
  margin-bottom: 15rem;
  color: #001333;
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-size: 18rem;
  font-weight: 600;
  letter-spacing: 2.7rem;
  text-transform: uppercase;
}
.frist-step__buttons-btn.constructor-btn {
  background: #001333;
  color: #fff;
}

.constructor {
  margin-bottom: 17rem;
}
.constructor__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.constructor__steps {
  margin-right: 24rem;
  max-width: 70rem;
  width: 100%;
}
.constructor__image {
  position: relative;
  overflow: hidden;
  max-width: 695rem;
  border: 1rem solid #cfd8e0;
  width: 100%;
  height: 390rem;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 695rem;
  flex: 0 0 695rem;
  margin-right: 4rem;
}
.constructor__image-img {
  vertical-align: middle;
}
.constructor__image-top-btns {
  position: absolute;
  width: 126rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24rem;
  top: 10rem;
  margin: 0 auto;
  left: 0;
  right: 0;
  display: none;
}
.constructor__image-pos {
  background: none;
  border: none;
  width: 26rem;
  height: 26rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
}
.constructor__image-btn {
  display: none;
  position: absolute;
  left: 0;
  bottom: 0;
  cursor: pointer;
  width: 296rem;
  height: 56rem;
  border: 1rem solid #cfd8e0;
  background: rgba(255, 255, 255, 0.7);
  color: #001333;
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-size: 18rem;
  font-weight: 600;
  letter-spacing: 2.7rem;
  text-transform: uppercase;
}
.constructor__image-menu {
  position: absolute;
  left: 0;
  bottom: -100%;
  opacity: 0;
  z-index: 100;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.constructor__image-menu.visible {
  bottom: 60rem;
  opacity: 1;
}
.constructor__image-item {
  display: block;
  cursor: pointer;
  width: 296rem;
  height: 56rem;
  border: 1rem solid #cfd8e0;
  background: #fff;
  color: #001333;
  font-family: "Manrope", sans-serif;
  font-size: 18rem;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.constructor__image-item.active {
  border: 1rem solid #001333;
  background: #001333;
  color: #fff;
}
.constructor__image-item + .constructor__image-item {
  margin-top: 4rem;
}
.constructor__menu, .constructor__detailmenu-items {
  max-width: 310rem;
  width: 100%;
  height: 390rem;
  overflow-y: scroll;
}
.constructor__menu::-webkit-scrollbar, .constructor__detailmenu-items::-webkit-scrollbar {
  width: 12rem;
}
.constructor__menu::-webkit-scrollbar-track, .constructor__detailmenu-items::-webkit-scrollbar-track {
  background-color: #fff;
}
.constructor__menu::-webkit-scrollbar-thumb, .constructor__detailmenu-items::-webkit-scrollbar-thumb {
  background-color: #cfd8e0;
  border-left: 4rem solid #fff;
  border-top-right-radius: 5rem;
  border-top-left-radius: 7.5rem;
  border-bottom-right-radius: 5rem;
  border-bottom-left-radius: 7.5rem;
}
.constructor__menu-btn, .constructor__detailmenu-items-btn {
  width: 100%;
  height: 56rem;
  border: 1rem solid #cfd8e0;
  background: #fff;
  cursor: pointer;
  font-family: "Manrope", sans-serif;
  font-size: 18rem;
  font-weight: 400;
}
.constructor__menu-btn + .constructor__menu-btn, .constructor__menu-btn + .constructor__detailmenu-items-btn, .constructor__detailmenu-items-btn + .constructor__menu-btn, .constructor__detailmenu-items-btn + .constructor__detailmenu-items-btn {
  margin-top: 4rem;
}
.constructor__detailmenu {
  max-width: 310rem;
  width: 100%;
}
.constructor__detailmenu-back {
  max-width: 310rem;
  width: 100%;
  height: 56rem;
  border: none;
  background-color: #001333;
  color: #fff;
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-size: 18rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 2.7rem;
  text-transform: uppercase;
  margin-bottom: 4rem;
  cursor: pointer;
}
.constructor__detailmenu-img {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}
.constructor__detailmenu-items {
  height: 330rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.constructor__detailmenu-item {
  width: 100%;
  border: 1rem solid #cfd8e0;
  background: #fff;
}
.constructor__detailmenu-item.active {
  border: 1rem solid #001333;
}
.constructor__detailmenu-line {
  width: 100%;
  height: 1rem;
  background-color: #eff1f3;
}
.constructor__detailmenu-box {
  padding: 15rem 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 5rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.constructor__detailmenu-name, .constructor__detailmenu-more {
  color: #001333;
  font-family: "Manrope", sans-serif;
  font-size: 18rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.constructor__detailmenu-more {
  color: #5a7794;
  font-size: 16rem;
  font-weight: 400;
  text-decoration: underline;
}

.order__wrapper {
  padding-left: 95rem;
  padding-right: 12rem;
}
.order__text {
  font-family: "Manrope", sans-serif;
  color: #5a7794;
  font-size: 14rem;
  font-weight: 400;
  margin-bottom: 4rem;
  display: inline-block;
}
.order__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 15rem;
}
.order__buttons-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4rem;
}
.order__btn {
  width: 296rem;
  height: 56rem;
  background: #fff;
  color: #cfd8e0;
  border: 1rem solid #cfd8e0;
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-size: 18rem;
  font-weight: 600;
  letter-spacing: 2.7rem;
  text-transform: uppercase;
  cursor: pointer;
}
.order__btn.continie-btn {
  background: #cfd8e0;
  color: #fff;
}
.order__btn.continie-btn.active {
  background: #001333;
  color: #fff;
}
.order__btn.active {
  border: 1rem solid #001333;
  color: #001333;
}
.order__btn.total-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 20rem;
  color: #001333;
  border: 1rem solid #001333;
}
.order__btn.total-btn-span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 12rem;
}

@media (max-width: 1150px) {
  html {
    font-size: 0.087vw;
  }
}